@font-face {
    font-family: "robotCondensed";
    src: url("./assets/fonts/Classic\ Robot\ Condensed.ttf") format("truetype");
    /* font-weight: normal; */
    /* font-style: normal; */
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
    font-family: "robotCondensed", sans-serif !important;
}
#faqScreen {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(./assets/sneakPeek/portrait_screen.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 375px;
    height: 670px; */
}
#faqHeading {
    width: 65%;
    height: max-content;
    text-align: center;
    background-image: url(./assets/sneakPeek/Vector\ 143.png);
    background-size: 100% 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 12.5%;
    top: 7%;
    padding: 2%;
}
#faqHeading h1 {
    font-size: 210%;
    margin: 0px;
    font-weight: normal;
}
#faqSide {
    width: 50%;
    height: 83%;
    position: absolute;
    display: flex;
    background-image: url(./assets/sneakPeek/Group\ 43.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    right: 4.5%;
    top: 8%;
}
#faqBlocks {
    width: 80%;
    position: absolute;
    top: 26.5%;
    left: 9.5%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 58%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    transition: 2s ease;
}

::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #ff4f4f;
    border-radius: 25px;
}
a {
    text-decoration: none !important ;
    color: white;
    height: max-content;
}
.block {
    width: 90%;
    background-size: 100% 100%;
    height: max-content;
    background-repeat: no-repeat;
    /* background-image: url(./assets/sneakPeek/Vector\ 143.png); */
    /* display: flex; */
    justify-content: space-around;
    padding: 2.5% 3.5%;
    cursor: pointer;
    font-weight: lighter;
    align-items: center;
    margin-top: 5%;
}
.question {
    display: flex;
}
.question img {
    margin-right: 10px;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}
.block.active .answer {
    max-height: 300px;
}
.block img {
    width: fit-content;
    height: fit-content;
}
.block h1 {
    font-size: 90%;
    margin: 0;
    font-weight: normal;
    width: 85%;
}
.block p {
    font-size: 90%;
    margin: 5% 0%;
    /* font-weight: lighter; */
    width: 85%;
    padding-left: 15%;
}
.block:nth-child(odd) {
    /* background-image: url(./assets/sneakPeek/Vector\ 146.png); */
    background-color: #ff4f4f;
}
.block:nth-child(even) {
    /* background-image: url(./assets/sneakPeek/Vector\ 149.png); */
    border: 1px solid #ff4f4f;
}
