@font-face {
    font-family: "robotCondensed";
    src: url("./public/fonts/Classic\ Robot\ Condensed.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "robotCondensed", sans-serif !important;
}
#teamScreen {
    width: 100%;
    height: 100%;
    /* width: 675px;
    height: 440px; */
    position: relative;
    background-image: url(./public/team-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#teamHeading {
    width: 70%;
    height: 23%;
    text-align: center;
    background-size: 100% 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 15.5%;
    left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    font-weight: lighter;
}
#loreHeading h1 {
    font-size: 200%;
    margin: 0px;
    color: white;
    font-weight: normal;
}
.slider {
    position: absolute;
    width: 85%;
    height: max-content;
    top: 35.5%;
    /* left: 11%; */
    text-align: center;
    z-index: -1;
}
.splide__slide,
.splide__arrow--next,
.splide__arrow--prev {
    background: none !important;
    top: 35% !important;
}
.splide__arrow--prev {
    left: -3.5% !important;
}
.splide__arrow--next {
    right: -4.0% !important;
}
.splide__slide svg,
.splide__arrow--next svg,
.splide__arrow--prev svg {
    fill: #ff4f4f !important;
    width: 100% !important;
    height: 100% !important;
}
.team-member {
    width: 100%;
    height: 100%;
    /* width: 125px; */
    /* height: 165px; */
    background-image: url(./public/teams-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-top: 0.35%;
    /* padding-bottom: 11%; */
}
.team-member-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    padding-top: 19%;
}
.serial-number {
    text-align: right;
    align-self: flex-end;
    margin: 5%;
}
.team-member img {
    width: 75%;
    border: #ff4f4f 1px solid;
}
.team-member-name {
    font-size: 75%;
    margin: 0;
    margin-bottom: 3.5%;
}
.team-member-socials {
    display: flex;
    width: 60%;
    justify-content: space-around;
    border-top: #ff4f4f 1px solid;
    padding-top: 5%;
}
.team-member-socials img {
    width: auto;
    height: 35%;
    border: none;
}
