@font-face {
    font-family: "robotCondensed";
    src: url("./public/fonts/Classic\ Robot\ Condensed.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "robotCondensed", sans-serif !important;
}
#mintScreen {
    width: 100%;
    height: 100%;
    /* width: 1090px;
    height: 470px; */
    position: relative;
    background-image: url(./public/main_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#mintingScreen {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(./public/main_bg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mintingNftScreen {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(./public/simple_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mintScreen img {
    width: 17.5%;
    height: auto;
    top: 17.5%;
    position: absolute;
}

#mintHeading {
    width: 70%;
    height: 23%;
    text-align: center;
    background-size: 100% 100%;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 15%;
    left: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

#mintHeading h1 {
    font-size: 325%;
    margin: 0px;
    color: white;
    font-weight: normal;
}

#mintHeading p {
    font-size: 200%;
    margin: 0px;
    color: #7b7b7b;
    cursor: pointer;
    width: max-content;
}

a {
    text-decoration: none !important;
    color: white;
    height: max-content;
}

#mintNowHeading {
    width: 73.75%;
    height: max-content;
    text-align: center;
    background-size: 100% 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 40%;
    left: 9.9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0.5%;
    background-color: rgba(191, 59, 59, 0.68);
}

#mintNowHeading h1 {
    font-size: 500%;
    margin: 0px;
    color: white;
    font-weight: normal;
}

#mintingNftScreen {
    display: flex;
    width: 100%;
    height: 100%;
}

#mintingNftScreen img {
    height: 65%;
    margin: 1.5%;
    transform: translateY(-5%);
}

#nftContent {
    width: 32.5%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-5%);
}

#nftDesc {
    width: 100%;
    border-bottom: 2px solid #ff4f4f;
}

#nftDesc h1 {
    color: white;
    margin: 1.5% 0 0 0;
    font-size: 150%;
}

#nftDesc p {
    color: white;
    margin: 1.5% 0 5% 0;
    font-size: 100%;
}

#nftDetails {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ff4f4f;
}

/* Style the divs inside nftDetails */
#nftDetails div {
    /* Your styles here */
}

/* Style the p elements inside nftDetails */
/* Upper h1 */
#nftDetails h1:first-child {
    flex: 1;
    font-size: 100%;
    color: white;
    text-align: center;
    margin: 0 0 15% 0;
}

/* Lower h1 */
#nftDetails h1:last-child {
    flex: 1;
    font-size: 100%;
    color: white;
    text-align: center;
    margin: 0% 0 2.5% 0;
}

#mftCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 45%;
    background-color: rgba(255, 79, 79, 0.2);
}

#mftCounter h1 {
    font-size: 90%;
    margin: 5%;
    cursor: pointer;
}

#nftBuyBtn {
    display: flex;
    color: white;
    width: 102.5%;
    cursor: pointer;
}

#nftBuyBtn div:first-child {
    width: 100%;
    background-image: url(./public/metamask.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#nftBuyBtn div:first-child p {
    margin: 10%;
    transform: translateX(40%) translateY(10%);
    font-size: 80%;
}

#nftBuyBtn div:last-child {
    width: 100%;
    background-image: url(./public/message_hud.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 5%;
}

#nftBuyBtn div:last-child p {
    margin: 10%;
    font-size: 80%;
}
