@font-face {
    font-family: "robotCondensed";
    src: url("./assets/fonts/Classic\ Robot\ Condensed.ttf") format("truetype");
    /* font-weight: normal; */
    /* font-style: normal; */
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
    font-family: "robotCondensed", sans-serif !important;
}
#sneakPeekScreen {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(./assets/sneakPeek/portrait_screen.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 670px;
}
#sneakHeading {
    width: 65%;
    height: max-content;
    text-align: center;
    background-image: url(./assets/sneakPeek/Vector\ 143.png);
    background-size: 100% 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 12.5%;
    top: 7%;
    padding: 2%;
}
#sneakHeading h1 {
    font-size: 210%;
    margin: 0px;
    font-weight: normal;
}
#sneakSide {
    width: 50%;
    height: 83%;
    position: absolute;
    display: flex;
    background-image: url(./assets/sneakPeek/Group\ 43.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    right: 4.5%;
    top: 8%;
}
#sneakBlocks {
    width: 70%;
    position: absolute;
    top: 26.5%;
    left: 9.5%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 58%;
    overflow-y: scroll;
}
a {
    text-decoration: none !important ;
    color: white;
    height: max-content;
}
.block {
    width: 90%;
    background-size: 100% 100%;
    height: 9.5%;
    background-repeat: no-repeat;
    background-image: url(./assets/sneakPeek/Vector\ 143.png);
    display: flex;
    justify-content: space-between;
    padding: 2.5% 3.5%;
    cursor: pointer;
    font-weight: lighter;
    margin-bottom: 5%;
}
.block h1 {
    font-size: 110%;
    margin: 0;
    font-weight: lighter;
}
.block h1:nth-of-type(1) {
    align-self: flex-end;
}
.block h2 {
    font-size: 50%;
    margin: 0px;
    font-weight: lighter;
}
.block:nth-child(odd) {
    background-image: url(./assets/sneakPeek/Vector\ 146.png);
}
.block:nth-child(even) {
    background-image: url(./assets/sneakPeek/Vector\ 149.png);
    color: #ff4f4f;
}
::-webkit-scrollbar {
    width: 5px;
    transition: 2s ease;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ff4f4f;
    border-radius: 25px;
}
